<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yinjinbiao.video.admin.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="top.yinjinbiao.video.admin.domain.SysUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="loginname" jdbcType="VARCHAR" property="loginname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="logic_delete" jdbcType="VARCHAR" property="logicDelete" />
    <result column="account_non_expired" jdbcType="VARCHAR" property="accountNonExpired" />
    <result column="account_non_locked" jdbcType="VARCHAR" property="accountNonLocked" />
    <result column="credentials_non_expired" jdbcType="VARCHAR" property="credentialsNonExpired" />
    <result column="enabled" jdbcType="VARCHAR" property="enabled" />
  </resultMap>
</mapper>